.search {
  padding-left: 40px;
}
.searchInput {
  display: block;
  margin-top: 10px;
  background-color: #696da3;
  color: rgb(231, 231, 243);
  outline: none;
  border: 1px solid white;
  border-radius: 8px;
  height: 30px;
  width: 335px;
}
.searchInput:focus {
  outline: none;
  border: 2px solid white;
}
