.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.field {
  background-color: #696da3;
  color: rgb(231, 231, 243);
  outline: none;
  border: 1px solid white;
  border-radius: 8px;
}
.field:focus {
  outline: none;
  border: 2px solid white;
}
