:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(211, 197, 239, 0.87);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgb(3, 0, 58) 0%,
    rgb(11, 11, 148) 35%,
    rgb(5, 133, 159) 100%
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f6f6f8;
  text-decoration: inherit;
}
a:hover {
  color: #6b70da;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 80px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #696da3;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #6b70da;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
ul,
li {
  list-style: none;
}
